{{set . "title" "About EchinoDB"}}
{{template "header.html" .}}

<p>EchinoDB is a database consisting of orthologous and alignable next-generation transcriptome data. EchinoDB is an effort of the <a href="http://echinotol.org">Echinoderm Tree of Life Project (Echinotol)</a> for a better understanding of the phylum Echinodermata through paleontology, genomics, informatics, developmental biology, anatomy, and phylogenetics.  The Echinotol project focuses on the development of an echinoderm phylogeny using genomic data to place Echinodermata within the tree of life.  The EchinoDB helps to sharpen this focus through the identification of alignable orthologs for phylogenetic analysis. </p>

<br />
<br />

{{template "footer.html" .}}
