{{set . "title" "EchinoDB"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h2>Create custom fasta cluster</h2>

<hr/>
<form method="post" action="{{url "App.MakeCluster"}}" class="form-inline" role="form">
<p>Enter a comma-separated list of 'bj-aa' pairs. e.g. "8-11412,8-3045" for aa11412 and aa3045 from species bj8.</p>
<textarea name="q" style="width:70%" rows="8" placeholder="##-##,##-##"></textarea><br/>

<div class="form-group input-group">
<b>Type: </b><div class="radio">
<label class="radio-inline"><input type="radio" name="export" value="nucleotide" checked/>nucleotide</label>
<label class="radio-inline"><input type="radio" name="export" value="peptide" />peptide</label>
<label class="radio-inline"><input type="radio" name="export" value="cds" />cds</label>
</div><br/>
<button type="submit" class="btn btn-primary">Export</button>
</div>
</form>

{{template "footer.html" .}}
