{{set . "title" "Results in EchinoDB"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>


<form class="form-horizontal" action="{{url "App.Search"}}" method="post">
<fieldset>
<h4>Search EchinoDB</h4>
<hr>
<div class="control-group">
<label class="control-label" for="q">Search</label>
<div class="controls">
<input type="text" name="q" id="q" value="{{.query}}"/>
<span class="help-block">RefSeq ID, GI number, gene name keywords, etc.<br/> Prefix-based wildcards are also supported (ex: <tt>chlor*</tt>)</span>
</div>
</div>

<div class="control-group">
<label class="control-label" for="allspecies">Species</label>

<div class="controls">
<input type="checkbox" id="allspecies" name="allspecies" value="all" onclick="toggleall(this)"
{{if $.chkAll}}checked="checked"{{end}}> All</label>
<br style="clear:both;">

{{ range $scl, $sorders := .speciesTree }}
<ul class="spgroup" {{if $.chkAll}}style="display:none;"{{end}}><li>
<label style="font-weight:bold;font-size:20px;"><input type="checkbox"
{{ if ($.chkNames.Contains $scl) }}checked="checked"{{end}}> {{$scl}}</label>

{{ range $sord, $sfamilies := $sorders }}
<ul class="spgroup" {{ if not ($.chkNames.Contains $scl) }}style="display:none;"{{end}}><li>
<label><input type="checkbox"
{{ if ($.chkNames.Contains $sord) }}checked="checked"{{end}}> {{$sord}}</label>

{{ range $sfam, $sgeni := $sfamilies }}
<ul class="spgroup" {{ if not ($.chkNames.Contains $sord) }}style="display:none;"{{end}}><li>
<label><input type="checkbox"
{{ if ($.chkNames.Contains $sfam) }}checked="checked"{{end}}> {{$sfam}}</label>

{{ range $sgen, $species := $sgeni }}
<ul class="spgroup" {{ if not ($.chkNames.Contains $sfam) }}style="display:none;"{{end}}><li>
<label><input type="checkbox"
{{ if ($.chkNames.Contains $sgen) }}checked="checked"{{end}}> {{$sgen}}</label>
<ul class="spgroup" {{ if not ($.chkNames.Contains $sgen) }}style="display:none;"{{end}}><li>
{{ range $sname, $bjnum := $species }}

<label><input type="checkbox" name="bjnums[]" value="{{$bjnum}}"
{{ if ($.chkNames.ContainsInt $bjnum) }}checked="checked"{{end}}>
{{ if eq $sname "?" }}unnamed{{else}}<i>{{$sname}}</i>{{end}}
</label>
{{end}}
</li></ul>
</li></ul>{{end}}
</li></ul>{{end}}
</li></ul>{{end}}
</li></ul>{{end}}

</div>
</div>
<div class="form-actions">
<input type="submit" class="btn btn-primary" value="Search">
</div>
</fieldset>
</form>

{{if eq (len .results) 0 }}

<div class="row-fluid">
  <div class="alert alert-error">
    No results found
  </div>
</div>

{{else}}

<table style="margin:0 auto; width:800px;" class="table table-striped table-hover table-bordered">
<thead>
  <tr><th class="subresult" colspan="3" style="position:relative;">
  <a name="nucResults"></a>{{len .results}} results
  </th></tr>
<tr style="background-color:#777;color:#ddd;"><th width="10%">Total Hits</th><th width="90%">RefSeq ID (gi)</th></tr>
</thead>
<tbody id="nucleotideResults">
{{ range .results }}
<tr><td><a href="{{url "App.ViewCluster" .ClusterID}}{{$.qbjnums}}">{{.NumHits}}</a></td><td><a href="http://www.ncbi.nlm.nih.gov/gene/?term={{.GetRefID}}">{{.GetRefID}}</a> ({{.GiNumber}})<br/>
<b>{{.RefseqName}}</b><br/>
<a href="{{url "App.ViewCluster" .ClusterID}}{{$.qbjnums}}">Show Details</a>
</td>
</tr>
{{end}}

</tbody>
</table>
{{end}}

{{template "footer.html" .}}
