{{set . "title" "EchinoDB"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h2>Orthocluster for <a href="http://www.ncbi.nlm.nih.gov/gene/?term={{.cluster.GetRefID}}">{{.cluster.GetRefID}}</a> ({{.cluster.GiNumber}})</h2>

<p>{{.cluster.RefseqName}}</p>

{{if $.chkAll}}{{else}}
<h3>Selected species only: <a href="{{url "App.ViewCluster" .cluster.ClusterID}}">(show all)</a></h3>
<ul class="spgroup">
{{ range $scl, $sorders := .speciesTree }}
{{ if ($.chkNames.Contains $scl) }}<li>{{$scl}}
  <ul class="spgroup">
  {{ range $sord, $sfamilies := $sorders }}
  {{ if ($.chkNames.Contains $sord) }}<li>{{$sord}}
    <ul class="spgroup">
    {{ range $sfam, $sgeni := $sfamilies }}
    {{ if ($.chkNames.Contains $sfam) }}<li>{{$sfam}}
      <ul class="spgroup">
      {{ range $sgen, $species := $sgeni }}
      {{ if ($.chkNames.Contains $sgen) }}<li>{{$sgen}}
        <ul class="spgroup">
        {{ range $sname, $bjnum := $species }}
          {{ if ($.chkNames.ContainsInt $bjnum) }}<li>
            {{ if eq $sname "?" }}unnamed{{else}}<i>{{$sname}}</i>{{end}}
          </li>
          {{end}}
        {{end}}
        </ul>
      {{end}}{{end}}</li></ul>
    {{end}}{{end}}</li></ul>
  {{end}}{{end}}</li></ul>
{{end}}{{end}}</li></ul>
{{end}}

<hr/>
<form method="post" action="{{url "App.ExportCluster" .cluster.ClusterID}}">
<input type="hidden" name="bjnums" value="{{.bjnums}}" />
<table style="margin:0 auto; width:850px;" class="table table-striped table-hover table-bordered">
<thead>
  <tr><th class="subresult" colspan="3" style="position:relative;">
  <a name="nucResults"></a>{{len .results}} sequences in orthocluster

  <span style="float:right;">
  <input type="submit" class="btn btn-inverse" name="export" value="nucleotide" />
  <input type="submit" class="btn btn-inverse" name="export" value="cds" />
  <input type="submit" class="btn btn-inverse" name="export" value="peptide" />
  <input type="submit" class="btn btn-inverse" name="export" value="zip" />
  </span>
  </th></tr>

<tr style="background-color:#777;color:#ddd;"><th width="20%">Species</th><th width="70%">Sequence</th></tr>
</thead>

<tbody>
{{ range .results }}
<tr>
  <td>{{index $.prettyNames .BjNumber}}<br/>
    <a class="aminos" href="#{{.BjNumber}}-{{.AaNumber}}">[Show CDS translation] </a>
    <br/>
    <span style="color:#999">{{.SeqLen true}} bp, {{.ReadCount.Int64}} reads, {{.ReadsPerKB true}} reads/kbp</span>
  </td>
  <td id="{{.BjNumber}}-{{.AaNumber}}"><div style="width:600px;word-wrap:break-word">{{.Sequence}}</div></td>
</tr>
{{end}}

</tbody>
</table>
  </form>

<script>
$('a.aminos').click(function(e){
  var bjaa = this.href.split("#")[1]
  var ban = bjaa.split("-")

  $.ajax({{url "App.GetNAAlignment"}}+"?bjnumber="+ban[0]+"&aanumber="+ban[1]).done(function(d){
    $('#'+bjaa).html("<div class=\"translation\">"+d+"</div>")
  })

  e.preventDefault()
})
</script>
<style>
div.translation {
  font-family: monospace;
  width: 600px;
}
</style>
{{template "footer.html" .}}
