<!DOCTYPE html>
<html>
<head>
<title>EchinoDB</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<style>
body {padding-top: 20px; padding-bottom:40px;}
.spgroup2 {border:1px solid #000;padding:10px;float:left;}
.spgroup {list-style-type:none;margin:0 0 0 15px; border-left:1px solid #f0f0f0; padding-left:3px;}
.subresult {background-color: #7777ff; color:#fff;}
.seq {width:540px;overflow: scroll;}
</style>
</head>
<body>
<div style="margin: 0 auto;max-width: 850px;">
<div class="masthead">
<ul class="nav nav-pills pull-right">
<li class="active"><a href="/echinodb/">Home</a></li>
<li><a href="/echinodb/about">About</a></li>
</ul>
<h3><a href="/echinodb/" style="text-decoration:none; color:#000;">EchinoDB</a></h3>
<hr style="margin-top:0;width:100%;">
</div>
<div class="row-fluid">

<p>EchinoDB is a database consisting of orthologous and alignable next-generation transcriptome data. EchinoDB is an effort of the <a href="http://echinotol.org">Echinoderm Tree of Life Project (Echinotol)</a> for a better understanding of the phylum Echinodermata through paleontology, genomics, informatics, developmental biology, anatomy, and phylogenetics.  The Echinotol project focuses on the development of an echinoderm phylogeny using genomic data to place Echinodermata within the tree of life.  The EchinoDB helps to sharpen this focus through the identification of alignable orthologs for phylogenetic analysis. </p> 

<br />
<br />

<form class="form-horizontal" action="" method="post">
<fieldset>
<h4>Search EchinoDB</h4>
<hr>
<div class="control-group">
<label class="control-label" for="q">Search</label>
<div class="controls">
<input type="text" name="q" id="q" value="{{query}}"/>
<span class="help-block">RefSeq ID, GI number, gene name keywords, etc.</span>
</div>
</div>

<div class="control-group">
<label class="control-label" for="allspecies">Species</label>

<div class="controls">	
<input type="checkbox" id="allspecies" name="allspecies" value="all" onclick="toggleall(this)"
{%- if isallbjs%}checked="checked"{%endif%}> All</label>
<br style="clear:both;">

{% for scl in sorted(species) %}
<ul class="spgroup" {%- if isallbjs %}style="display:none;"{%endif%}><li>
<label style="font-weight:bold;font-size:20px;"><input type="checkbox"
{%- if scl in checkedbjs %}checked="checked"{%endif%}> {{scl}}</label>

{% for sord in sorted(species[scl]) %}
<ul class="spgroup" {%- if scl not in checkedbjs %}style="display:none;"{%endif%}><li>
<label><input type="checkbox"
{%- if sord in checkedbjs %}checked="checked"{%endif%}> {{sord}}</label>

{% for sfam in sorted(species[scl][sord]) %}
<ul class="spgroup" {%- if sord not in checkedbjs %}style="display:none;"{%endif%}><li>
<label><input type="checkbox"
{%- if sfam in checkedbjs %}checked="checked"{%endif%}> {{sfam}}</label>

{% for sgen in sorted(species[scl][sord][sfam]) %}
<ul class="spgroup" {%- if sfam not in checkedbjs %}style="display:none;"{%endif%}><li>
<label><input type="checkbox"
{%- if sgen in checkedbjs %}checked="checked"{%endif%}> {{sgen}}</label>
<ul class="spgroup" {%- if sgen not in checkedbjs %}style="display:none;"{%endif%}><li>
{% for sname,bjnumber in sorted(species[scl][sord][sfam][sgen].items()) %}

<label><input type="checkbox" name="bjnum" value="{{bjnumber}}"
{%- if bjnumber in checkedbjs %}checked="checked"{%endif%}>
{%if sname=='?' %}unnamed{%else%}<i>{{sname}}</i>{%endif%}
</label>
{%endfor%}
</li></ul>
</li></ul>{%endfor%}
</li></ul>{%endfor%}
</li></ul>{%endfor%}
</li></ul>{%endfor%}

</div>
</div>
<div class="form-actions">
<input type="submit" class="btn btn-primary" value="Search">
</div>
</fieldset>
</form>

{% block resultcontent %}
{% endblock %}

</div>
<div class="footer">
This page is maintained by <a href="http://bioservices.uncc.edu">Bioinformatics Services Division at UNC Charlotte</a>, and was last updated 15 Apr 2013. 
</div>
</div>


<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script>
$(document).ready(function(){
	// this is fine for the current few checkboxes, but won't be nice if things get much bigger
	$(".spgroup input[type=checkbox]").bind('click',function(evt){
		var isEnabled=this.checked;
		var mygroup = $(this).parent().parent();
		
		// show child groups
		if( isEnabled ) mygroup.find(".spgroup").show();
		else mygroup.find(".spgroup").hide();
		
		// propogate selection
		var chd = mygroup.find("input[type=checkbox]");
		for(i=0; i<chd.length; i++) {
			chd[i].checked=isEnabled;
		}
	});
	
	$('tr').bind('click', function(evt){
		// don't toggle if clicking inside the sequence (allows copy-paste)
		if( evt.target.className=="seq" ) return;
		$(this).find('.seq').toggle();	
	});
});

function toggleall(chk) {
	if( !chk.checked ) {
		// show direct children only
		$(chk).parent().children('.spgroup').show();
		
		// uncheck all and hide everything deeper
		var chks = $('.spgroup input[type=checkbox]');
		for(i=0; i<chks.length; i++) {
			chks[i].checked=false;
			$(chks[i]).parent().parent().find(".spgroup").hide();
		}
	} else {
		$('.spgroup').hide();
	}
}

</script>
</body>
</html>
