{% extends "index.html" %}

{% block resultcontent %}

<form method="post" action="/echinodb/export">
<table style="margin:0 auto; width:800px;" class="table table-striped table-hover table-bordered">
<thead>
	<tr><th class="subresult" colspan="3" style="position:relative;">
	<a name="nucResults"></a>{{results|count}} results
	
	<span style="float:right;">
	Export selected sequences as:
	<input type="submit" class="btn btn-inverse" name="export" value="nucleotide" />
	<input type="submit" class="btn btn-inverse" name="export" value="peptide" />
	</span>
	</th></tr>
<tr style="background-color:#777;color:#ddd;"><th width="20%">Species</th><th width="70%">RefSeq ID (gi)</th><th>Export</th></tr>
</thead>
<tbody id="nucleotideResults">
{% for row in results %}
<tr><td>{{prettybjs[row.bjnumber]}}</td><td><a href="http://www.ncbi.nlm.nih.gov/gene/?term={{row.refseqid}}">{{row.refseqid}}</a> ({{row.gi_num}})<br/>
<b>{{row.refseq_name}}</b><br/>
<div class="seq" style="display:none;">
<b>Sequence: </b>{{row.sequence}}<br/>
<b>Peptide Sequence: </b>{{row.peptide_sequence}}<br/>
<b>Peptide Reference: </b>{{row.refseq_sequence}}
</div>
</td>
<td><label style="padding: 10px;"><input type="checkbox" name="selected" value="{{row.bjnumber}},{{row.gi_num}},{{row.locustranscript}}"></label></td>
</tr>
{% endfor %}

</tbody>
</table>
</form>

{% endblock %}
