
</div>

<div class="footer" style="padding-top:80px;">
<hr/>
  EchinoDB is an effort of the Echinoderm Tree of Life Project and is based upon work supported by the National Science Foundation under Grant Number 1036416.  This page is maintained by <a href="http://bioservices.uncc.edu">Bioinformatics Services Division at UNC Charlotte</a>, and was last updated 28 May 2014.
</div>
</div>

{{if eq .RunMode "dev"}}
  {{template "debug.html" .}}
{{end}}

<script>
$(document).ready(function(){
  // this is fine for the current few checkboxes, but won't be nice if things get much bigger
  $(".spgroup input[type=checkbox]").bind('click',function(evt){
    var isEnabled=this.checked;
    var mygroup = $(this).parent().parent();

    // show child groups
    if( isEnabled ) mygroup.find(".spgroup").show();
    else mygroup.find(".spgroup").hide();

    // propogate selection
    var chd = mygroup.find("input[type=checkbox]");
    for(i=0; i<chd.length; i++) {
      chd[i].checked=isEnabled;
    }
  });

  $('tr').bind('click', function(evt){
    // don't toggle if clicking inside the sequence (allows copy-paste)
    if( evt.target.className=="seq" ) return;
    $(this).find('.seq').toggle();
  });
});

function toggleall(chk) {
  if( !chk.checked ) {
    // show direct children only
    $(chk).parent().children('.spgroup').show();

    // uncheck all and hide everything deeper
    var chks = $('.spgroup input[type=checkbox]');
    for(i=0; i<chks.length; i++) {
      chks[i].checked=false;
      $(chks[i]).parent().parent().find(".spgroup").hide();
    }
  } else {
    $('.spgroup').hide();
  }
}

</script>
</body>
</html>
