<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/echinodb/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/echinodb/public/img/favicon.png">
    <script src="http://code.jquery.com/jquery-1.10.0.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/echinodb/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/echinodb/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <style>
      body {padding-top: 20px; padding-bottom:40px;}
      .spgroup2 {border:1px solid #000;padding:10px;float:left;}
      .spgroup {list-style-type:none;margin:0 0 0 15px; border-left:1px solid #f0f0f0; padding-left:3px;}
      .subresult {background-color: #7777ff; color:#fff;}
      .seq {width:540px;overflow: scroll;}
    </style>
  </head>
  <body>

<div style="margin: 0 auto;max-width: 850px;">
<div class="masthead">
<ul class="nav nav-pills pull-right">
<li{{if eq .title "Search EchinoDB"}} class="active"{{end}}><a href="{{url "App.Index"}}">Home</a></li>
<li{{if eq .title "About EchinoDB"}} class="active"{{end}}
><a href="{{url "App.About"}}">About</a></li>
<li{{if eq .title "Blast EchinoDB"}}class="active"{{end}}><a href="http://echinodb.uncc.edu:4567">Blast</a></li>
</ul>
<h3><a href="{{url "App.Index"}}" style="text-decoration:none; color:#000;"><img src="/echinodb/public/img/logo_echinotol-1502_0.png" width="60" height="60" style="margin-top:-20px;border:none;" /> EchinoDB</a></h3>
<hr style="margin-top:0;width:100%;">
</div>
<div class="row-fluid">
